/* Last update : 2016-02-06, Jérôme Combes */

body{
  background: #EEEEEE;
  font-family:Verdana;
  font-size:9pt;
  background:#FFFFFF;
}

#body{
  width: 1000px;
  margin: auto;
}

table {
  width:100%;
}

.marginBottom{
  margin-bottom :30px;
}

.marginBottom10{
  margin-bottom :10px;
}

.marginLeft{
  margin-left:20px;
}

.marginRight{
  margin-right:50px;
}

.nowrap{
  white-space: nowrap;
}

.right{
  position: absolute;
  right: 0px;
}


table.datatable{
  width:100%;
}

/*	DataTables */
.dataTable tbody tr.odd {
  background-color:#E0E0E0;
}

.dataTable tbody tr.odd td.sorting_1,
.dataTable tbody tr.odd td.sorting_2,
.dataTable tbody tr.odd td.sorting_3{
  background-color:#CECECE;
}

.dataTable tbody tr.even td.sorting_1,
.dataTable tbody tr.even td.sorting_2,
.dataTable tbody tr.even td.sorting_3{
  background-color:#EEEEEE;
}



#login_body {
  color: black;
  background:#CFE396;
  height:900px;
}

#login_div {
  background:#FFFFFF;
  margin: 30px auto;
  width:980px;
  height:800px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

#login_div h1 {
  margin: 20px;
  font-size: 2.6em;
  text-align: left;
}

#login_div h2 {
  margin: 5px 15px;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  text-align: right;
  color: grey;
}

#login_info {
  padding: 40px 20px 10px 20px;
  font-size:1.5em;
}

#login_div input[type=password],
#login_div input[type=email] {
  width: 400px;
}

#login_div .btn-primary {
  width: 170px;
  font-size: 1.6em;
}

#login_div .btn-link {
  font-size: 1.2em;
  color: #216a94;
}

#login_p {
  padding: 40px 20px 10px 20px;
  font-size:1.3em;
}

#login_div p a {
  color: initial;
}

#login_links {
  padding: 10px 20px 10px 20px;
}

#login_links a {
  padding: 0 30px;
  font-size:1.4em;
}

#account td:first-child {
  width: 400px;
}

.td-button {
  text-align: right;
  padding: 30px 30px 10px;
}

.same-line {
  padding: 0 30px 10px;
}

div#content {
  position:absolute;
  top:60px;
  left:30px;
  width: 1200px;
}


#myTab{
  border-left: solid 1px black ;
  border-top: solid 1px black ;
  border-right: solid 1px black ;
  border-bottom: solid 1px black ;
}

#myTab td,#myTab2 td, #content td:not(.td-button) {
  padding:0 10px 0 10px;
}

.myTab td{
  padding: 0 20px 0 5px;
}

.myTab2{
  border-left: solid 1px black ;
  border-top: solid 1px black ;
  border-right: solid 1px black ;
  border-bottom: solid 1px black ;
}

.myTab2 th,
.myTab2 td{
  padding: 5px 20px 5px 5px;
}

#home{
  text-align:justify;
}

#map{
  text-align: center;
  margin: 30px 0;
}

#map img{
  width: 100%;
}

input[type=radio],input[type=checkbox]{
  margin-bottom:10px;
}

input[type=email], input[type=password], input[type=text] {
  margin-bottom:5px;
  width:98%;
}

h3 {
  margin-left: 0px;
}

h4 {
  margin: auto auto 15px 10px;
}

tr {
  vertical-align:top;
}

td {
 /* text-align:justify;*/
}

textarea {
  width:100%;
  height:150px;
  margin-bottom:25px;
}

#information_0 ,#information_1{
  position: absolute;
  top: 40px;
  left: 40%;
  z-index: 5;
  text-align:center;
  font-size: 14pt;
  font-weight:bold;
  padding: 4px 10px 4px 10px;
}

#information_0{		/*	Success		*/
  color:green;
  background: #b3f4b3;
  border-top:solid 2px green;
  border-right:solid 2px green;
  border-bottom:solid 2px green;
  border-left:solid 2px green;
}

#information_1{		/*	Error	*/
  color:red;
  background: #f4dfdf;
  border-top:solid 2px red;
  border-right:solid 2px red;
  border-bottom:solid 2px red;
  border-left:solid 2px red;
}

.response {
  margin: 5px 0 20px 0;
  color:blue;
  font-weight:bold;
  text-align:justify;
}

font.response {
  margin: 0 0 0 5px;
}

.response input,
.response label,
.response select,
.response textarea {
    color:initial;
    font-weight:initial;
    text-align:initial;
}

.response2 {
  margin: 0 0 5px 0;
  color:blue;
  font-weight:bold;
  text-align:justify;
}

.th{
  font-weight:bold;
  background:#AAAAAA;
}

.tr1{
  background:#FFFFFF;
}

.tr2{
  background:#DDDDDD;
}


fieldset {
  background:#EFEFEF;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  border: none;
}

legend{
  font-weight:bold;
}

select{
  width:100%;
  background:#FFFFFF;
}

#DataTables_Table_0_length select,
#DataTables_Table_1_length select {
  width: 70px;
}

#DataTables_Table_0_filter input[type=text] {
  width: 200px;
}

#course4 input[type=text]{
  margin-bottom:0px;
}

#grades-form table th {
  width: 75px;
}

#grades-form table th:first-child {
  width: 550px;
}

#grades-form table th:nth-child(3),
#grades-form table th:nth-child(7) {
  width: 150px;
}

.green{
  color:green;
}

.red{
  color:red;
}

.bold{
  font-weight:bold;
}

/*	Footer	*/
footer,
#footer {
  margin:15px;
  text-align:center;
}

footer a,
#footer a{
  text-decoration:none;
  color: #777;
}

ul.ui-widget-header{
  font-size:0.9em;
}

#title{
  font-size:14pt;
  margin: 12px 6px;
}

#loginName {
  position: absolute;
  top: 0px;
  width:986px;
  padding: 16px 6px;
  text-align: right;
}

#loginName span{
  cursor: pointer;
}

.pointer{
	cursor: pointer;
}

#myMenuTriangle{
  display: inline-block;
  vertical-align:middle;
  -webkit-transform:scale(1.4);
  -moz-transform:scale(1.4);
  -o-transform:scale(1.4);
}

#myMenu{
  position: absolute;
  top: 35px;
  right: 0px;
  width:130px;
  text-align: center;
  display:none;
  background-color: white;
  border: 1px black solid;
  padding: 2px;
  z-index:100;
}

#myMenu a{
  line-height: 20px;
}

.align-right {
    width: 100%;
    text-align: right;
    margin: 20px auto;
}

.myUI-button{
	min-width:100px;
	margin-right:20px;
}

.myUI-button-right{
	min-width:100px;
	margin-left:20px;
}

.btn {
	min-width:100px;
	margin-left:20px;
    margin-bottom: 5px;
}

section#content{
  padding:10px;
}

label{
	font-weight: bold;
}

.CJInfo{
	min-width: 400px;
}

.content{
  min-height: 500px;
  padding:10px;
}

a.btn {
    color: #FFFFFF;
}

.evaluations label {
  margin-left: 10px;
}

div.dt-buttons {
  float: right;
}

#dates_fieldset th {
  padding:15px;
  text-align:center;
  font-size: 1.5em;
  font-weight: normal;
}

#dates_fieldset th:first-child {
  width: 50%;
  padding:15px;
  text-align:right;
}

#dates_fieldset td:first-child {
  text-align:right;
}

#dates_fieldset div {
  text-align:right;
  margin:20px;
}

#students_add_fieldset th{
  padding:8px 18px 8px 14px;
}

#students_add_fieldset td {
  padding:8px 18px 0 0;
}

@media screen and (min-width:1200px) {
	#body{
	  width: 1200px;
	}

	#loginName {
		width:1186px;
	}
}

